<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <a href="http://clipart-library.com/clipart/8TznLjRTp.htm"><img src="http://clipart-library.com/images/8TznLjRTp.jpg" width="192" height="120" /></a>
</div>
<ul>
  <li>
    <h2><a target="" rel="noopener" href="">Classic Pizzas</a></h2>
  </li>
  <li>
    <h2><a target="" rel="noopener" href="">Custome Pizzas</a></h2>
  </li>
  <li>
    <h2><a target="" rel="noopener" href="">Log In</a></h2>
  </li>
</ul>

